html {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
  }
  
  thead th, tfoot th {
    font-family: 'Rock Salt', cursive;
  }
  
  th {
    letter-spacing: 2px;
  }
  
  td {
    letter-spacing: 1px;
  }

  
  tfoot th {
    text-align: right;
  }
  table, th, td {
    border: 1px solid black;
 }
 table {
    width: 100%;
}

th {
    height: 25px;
}
th, td {
    padding: 12px;
    text-align: left;
}