
<h1>INSERIMENTO NUOVI UTENTI</h1>

<form #nomeForm="ngForm" (ngSubmit)="InvioForm(nomeForm.value)">

    Email: <input type="text" name="email" #emailInput="ngModel" required [(ngModel)]="user!.email">
    <br>
    Nome Utente: <input type="text" name="username" #usernameInput="ngModel" required [ngModel]="user!.username">
    <br>
    Password Utente: <input type="text" name="password" #passwordInput="ngModel" required [ngModel]="user!.password">
    <br>
    <div *ngFor="let nomes of citta">
       <input type="radio" id="{{nomes.nome}}" value="{{nomes.nome}}" #cittaInput="ngModel" [(ngModel)]="nomes.nome" name="PROVA" (change)="valore($event)">
       <label for="{{nomes.nome}}" name="citta"> {{nomes.nome}} </label>
    </div>

    <input type="submit" name="Invia">

</form>
